h1 {
  /* add styling to name heading */
}

.custom-font {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 501;
  font-style: normal;
}

.footer {
  animation: bounce;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.fa-arrow-right {
  transform: rotate(90deg);
}

body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
