body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.full-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animation {
  display: flex;
  flex-direction: row;
  animation: bounce 2s infinite;
  margin-bottom: 1rem;
}

.bio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-font {
  font-family: "Pixelify Sans";
  font-weight: 500;
}

.responsive-text {
  font-size: 1rem;
}